form{
    text-align: center;
    background-color: gray;
   
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inner{
        border:2px solid black;
        padding:2rem 5rem;
        background-color: white;
}
.refresh{
    padding:5px 8px;
    background-color: gray;
    color:black;
    outline: none;
    border:2px solid black;
    cursor:pointer;
}
.input{
    height:30px;
    width:10rem;
    border:2px solid black;
    margin-bottom: 10px;
}
.input:focus{
    background-color: rgba(186, 186, 186, 0.556);
}